body {
    position: relative;
}

h4, h1 {
    text-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.055;
    background: url('../img/pusheen.png');
    background-size: 1200px;
    z-index: 0;
}

.subsection {
    position: relative;
}

.subsection > div {
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
}

section h5 {
    font-weight: bold;
    margin-bottom: 0px;
}

img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .15s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

img:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

@media (min-width: 767px) {
    .grammar img {
        
        max-height: 200px;
    }
}

.list-group > li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .15s ease;
    box-shadow: 0 0 2px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.1);
}

.list-group > li:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card {
    transition: all .15s ease;
    box-shadow: 0 0 2px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.1);
}

.card:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.from-them, .from-me {
    position: relative;
}

.from-them > div:not(.sound) {
    position: relative;
    float: left;
    padding: 20px 60px 20px 20px;
    margin-bottom: 10px;
    border-radius: 25px;
    color: white;
    background-color: cornflowerblue;
    box-shadow: 0 0 2px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.1);
    cursor: pointer;
}

.from-me > div:not(.sound) {
    float: right;
    margin-bottom: 10px;
    border-radius: 25px;
    color: white;
    max-width: 300px;
    padding: 20px 60px 20px 20px;
    background-color: darkturquoise;
    box-shadow: 0 0 2px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.1);
    cursor: pointer;
}

.sound {
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-size: 1.2rem;
    cursor: pointer;
}

.from-them .sound,
.from-me .sound {
    bottom: 20px;
    right: 15px;
    color: white;
}

.from-them .sound {
    bottom: 15px;
}

.subsection .sound {
    right: 15px;
    bottom: 45px;
}

.sound > i {
    transition: all .2s ease;
}

.sound > i:focus,
.sound > i:hover,
.sound > i.active {
    color: #FFFF00;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    padding: 8px;
    box-shadow: 0 0 2px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.1);
}